.productDetails{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
  position: relative;
    width: 100vw;
    height: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
}
/* .productDetails>div{
    padding: 20px 5px;
    box-sizing: border-box;
} */

/* .productDetails>div>img{
    width: 100%;
    height: 100%;
} */
.productDetails>div>h4{
font-weight: 500;
font-family: cursive;
}
.productDetails>div>h4>b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.productDetails .CarouselImage {
padding: 10px 20px;
  width: 500px;
  height: 100%;
  text-align: center;
 
}
/* react */
div.post_infos{
  display: flex;
  flex-direction:column;
}
.reacts_count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reacts_count_imgs {
  display: flex;
  align-items: center;
  gap: 1px;
}
.reacts_count_imgs img {
  width: 18px;
}
.reacts_count_num {
  font-size: 14px;
  color: var(--color-secondary);
}
.to_right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-secondary);
  font-size: 15px;
}
.comments_count:hover,
.share_count:hover {
  cursor: pointer;
  text-decoration: underline;
}
.post_actions {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 8px 5px 8px;
  border-top: 1px solid var(--bg-third);
  border-bottom: 1px solid var(--bg-third);
  margin: 0 10px;
  padding: 5px 0;
}
.post_action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 7px 0;
  border-radius: 5px;
}
.post_action span {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 14px;
  transform: translateY(-1px);
  text-transform: capitalize;
}
.reacts_popup {
  display: flex;
  align-items: center;
  position: absolute;
  top: -2.5rem;
  left: -4.8rem;
  background: #ccc4c4;
  padding: 5px 15px;
  border-radius: 50px;
  gap: 8px;
  box-shadow: 0 1px 2px var(--shadow-1);
}
.react {
  cursor: pointer;
  transition: all 0.2s;
}
.react:hover {
  transform: scale(1.3);
}
.react img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}
